pandas
numpy
seaborn
scikit-learn
catboost
xgboost
Flask
matplotlib


#-e .  ##r editable mode, allowing you to install a package from the current directory (.) while keeping changes editable without needing to reinstall.
